body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.pointer {
  cursor: pointer;
}

.badgeCount {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
  border-radius: 10rem;
  font-size: 80%;
  font-weight: 700;
  line-height: 15px;
  width: 20px;
  height: 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: $white;
  background-color: $red;
}

.alerts {
  position: relative;
  &:hover {
    i {
      color: $light_gray;
    }
  }
}

.newMessages {
  position: relative;
  &:hover {
    i {
      color: $light_gray;
    }
  }
  .badgeCount {
    color: $black;
    background-color: $yellow;
  }
}


