
$blue: #94C2ED;
$darkBlue: #436fed;
$green: #86BB71;
$orange: #E38968;
$gray: #92959E;
$light_gray: #e9ebec;;
$white: #ffffff;
$black: #222222;
$red: #ff0000;
$black: #1c1f21;
$light_black: #34383c;
$yellow: #fabb3d;

$sideNavBackColor: #111111;
$sideNavWidth: 250px;
$rightbarWidth: 200px;
$toolbarHeight: 50px;

$fa-font-path : 'fonts/font-awesome';
