.pt-active {
  background-color: #252950 !important;
  color: white !important;
}

.pt-card {
  border-radius: 0px !important;
}

.pt-tree-node-content {
  height: 23px !important;
}

.pt-dark .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content {
  background-color: #5a5858 !important;
  border-radius: 3px;
}

.pt-dark .pt-tree-node-icon {
  color: #008dfc !important;
}

.pt-tree-node {
  cursor: pointer;
}

.pt-tree-node-label {
  font-weight: 600 !important;
  font-size: 14px !important;
}

.pt-dialog-header {
  display: none !important;
}
