{
  "plugins": [
    "react-hot-loader/babel",
    "glamorous-displayname",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    "mobx-deep-action",
    "@babel/plugin-proposal-pipeline-operator",
    ["@babel/plugin-transform-modules-commonjs", { "noInterop": true }],
    ["module-resolver",{"extensions": [".js", ".jsx", ".ts", ".tsx"], "root": ["."]}]
  ],
  "presets": [
    "@babel/typescript",
    "@babel/react",
    ["@babel/env", {"targets": {"browsers": "last 2 Chrome versions","node": "current"}}]
  ]
}
