{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    ["module-resolver", {"root":".", "extensions":[".js", ".jsx", ".ts", ".tsx", ".json"]}]
  ],
  "presets": [
    "@babel/typescript",
    "@babel/react",
    ["@babel/env", {"targets": {"browsers": "last 2 Chrome versions","node": "6"}}]
  ]
}