@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";

.help {
    padding: 10px;

    .help-button-link {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 6px;

        &:hover {
            background-color: $ms-color-neutralLight;
        }
    }
}