.logo {
    position: relative;
    display: inline;
    color: #2c3e50;
    pointer-events: none;
    text-align: center;
}

.logo-title {
     font-size: 100px;
     line-height: 100px;
 }

.logo-subtitle {
     font-size: 50px;
     line-height: 50px;
     margin-top: 20px;
}
