<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Coglite Desktop App">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Coglite</title>
        <link rel="stylesheet" href="assets/styles/global.scss">
    </head>

	<body>
		<div>hi</div>
		<div id='coglite-app-root'>Loading ...</div>
		<img src='assets/images/logo.png'>
	</body>
</html>