:global {
  @import "~tachyons/css/tachyons.min.css"
  @import "~tachyons/src/_colors.css"
}

::selection
  background-color: var(--gold)

*
  font-smoothing: antialiased

html
  -webkit-tap-highlight-color: var(--black-10)

html
body
#root
  height: 100%

h1, h2, h3, h4, h5, h6, p
  margin: 0
