.mosaic-tile {
  position: absolute;
  margin: 3px;
}
.mosaic-tile > * {
  height: 100%;
  width: 100%;
}

.mosaic-split {
  position: absolute;
  z-index: 1;
}

.mosaic-split:hover {
  background: black;
}
.mosaic-split .mosaic-split-line {
  position: absolute;
}
.mosaic-split.-row {
  margin-left: -3px;
  width: 6px;
  cursor: ew-resize;
}
.mosaic-split.-row .mosaic-split-line {
  top: 0;
  bottom: 0;
  left: 3px;
  right: 3px;
}
.mosaic-split.-column {
  margin-top: -3px;
  height: 6px;
  cursor: ns-resize;
}
.mosaic-split.-column .mosaic-split-line {
  top: 3px;
  bottom: 3px;
  left: 0;
  right: 0;
}