.authBtn {
  cursor: pointer;
  img {
    width: 150px;
    height: 150px;
  }
}

.guestMode {	
    margin: 20px auto;
    width: 170px;
    text-align: center;
    button {
    	display: block;
    	margin: 20px auto;
    	cursor: pointer;
    }
}