.internetConnection {
  position: fixed;
  z-index: 3;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: $red;
  text-align: center;
  color: $white;
  font-size: 110%;
  line-height: 1.7em;
}

.devtoolsBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}
