.messaging {
  display: flex;

  .people-list {
    flex: 1;
    background-color: #F2F5F8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    @media (max-width: 1170px) {
      flex: 0;
    }
    .search {
      padding: 21px;
      @media (max-width: 1170px) {
        display: none;
      }
    }
    .list {
      overflow-y: auto;
      li {
        cursor: pointer;
      }
      .status {
        .msgCount {
          background-color: $blue;
          color: $white;
          width: 23px;
          height: 23px;
          display: inline-block;
          text-align: center;
          border-radius: 23px;
          line-height: 1.4em;
          font-weight: bold;
        }
      }
    }
    input {
      border: 2px solid #6A6C75;
      border-radius: 8px;
      padding: 14px;
      color: #6A6C75;
      width: 90%;
      font-size: 14px;
      outline: none;
    }

    .fa-search {
      position: relative;
      left: -25px;
    }

    ul {
      padding: 20px;
      height: 770px;
      background-color: white;
      li {
        padding-bottom: 20px;
      }
    }

    img {
      float: left;
      border-radius: 25px;
    }

    .about {
      float: left;
      //margin-top: 8px;
    }

    .about {
      padding-left: 8px;
      @media (max-width: 1170px) {
        display: none;
      }
    }

    .status {
      color: $gray;
      line-height:1;
    }

    .name {
      @include ellipsis;
      max-width: 140px;
    }

  }

  .chat {
    flex: 3;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    color: #434651;

    .chat-header {
      padding: 20px;
      border-bottom: 2px solid white;

      img {
        float: left;
        width: 55px;
      }

      .chat-about {
        float: left;
        padding-left: 10px;
        margin-top: 6px;
      }

      .chat-with {
        font-weight: bold;
        font-size: 16px;
      }

      .chat-num-messages {
        color: $gray;
      }

      .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
      }
    }

    .chat-history {
      padding: 30px 30px 20px;
      border-bottom: 2px solid white;
      overflow-y: scroll;
      height: 575px;

      .chat-loading {
        display: none;
        .preloader {
          top: 0;
          position: inherit;
        }
        &.loading {
          display: block;
        }
      }

      .message-data {
        margin-bottom: 15px;
      }

      .message-data-name {
        display: inline-block;
        height: 38px;
        line-height: 2.2em;
        padding-right: 5px;
      }

      .message-data-image {
        float: right;
        width: 38px;
        height: 38px;
        display: inline-block;
        background-position: center;
        background-size: 100%;
        border-radius: 38px;
      }

      .message-data-time {
        color: lighten($gray, 8%);
        padding-left: 6px;
      }

      .message {
        color: white;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: 90%;
        position: relative;

        &:after {
          bottom: 100%;
          left: 7%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: $green;
          border-width: 10px;
          margin-left: -10px;
        }
      }

      .my-message {
        background: $green;
      }

      .other-message {
        background: $blue;

        &:after {
          border-bottom-color: $blue;
          left: 93%;
        }
      }

    }

    .chat-message {
      padding: 30px;

      textarea {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;

      }

      .fa-file-o, .fa-file-image-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;

      }

      button {
        float: right;
        color: $blue;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;

        &:hover {
          color: darken($blue, 7%);
        }
      }
    }
  }

  .profile-info {
    flex: 1;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }

  .online {
    color: $green;
  }

  .offline {
    color: $orange;
  }

  .me {
    color: $blue;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }
  .noPeople {
    display: none;
  }
  &.noConversation {
    .noPeople {
      display: block;
      background: white;
      font-size: 18px;
      text-align: center;
      padding: 30px;
    }
    .list {
      display: none;
    }
    .chat-history {
      display: none;
    }
    .profile-info {
      display: none;
    }
  }
}


@media (max-width: 1170px) {

}
