@include keyframes(popup) {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@mixin popup {
  @include animate(popup, 0.5s, 1, normal);
}

@include keyframes(popdown) {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@mixin popdown {
  @include animate(popdown, 0.5s, 1, normal);
}

.hidePopup {
  .popupDialog {
    @include popup;
  }
  .modal-backdrop {
    @include popup;
  }
}

.modal-backdrop {
  @include popdown;
}

.popupWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .popupDialog {
    @include popdown;
    margin-top: 0;
    .modal-content {
      border-radius: 0;
    }
    .close {
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 1px 0 #fff;
    }
    * {
      @include noRadius;
    }
  }
}
